
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReadTempData</title>
</head>
<body>
    <div align="center">
        <h1>
            @ViewBag.msg
        </h1> 
    </div>
</body>
</html>
